<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation defaultLanguage="vb" debug="true" targetFramework="4.8"/>
    <customErrors mode="Off" defaultRedirect="http://www.intermap.co.za/App_Common/AppErrorPage.htm"/>
    <authentication mode="Forms">
      <forms name=".TimeTrax" loginUrl="Default.aspx" timeout="60"/>
    </authentication>
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="30"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-Za" uiCulture="en-Za"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" enableEventValidation="false" clientIDMode="AutoID"/>
    <xhtmlConformance mode="Legacy"/>
  </system.web>
  <location path="WebLogin.aspx">
    <system.web>
      <authorization>
        <allow users="?,*"/>
      </authorization>
    </system.web>
  </location>
  <!--  APP SETTINGS
        This section sets the settings of the application. 
  -->
  <appSettings>
    <add key="DBConn" value="Server=.;database=SebataTimeTrax;uid=sa;password=Imsql321;"/>
    <add key="UploadsVirtual" value="Upload"/>
    <add key="SMTPserver" value="za-smtp-outbound-1.mimecast.co.za"/>
    <add key="AdminEmailAddress" value="info@timetrax.co.za"/>
    <add key="SupportEmail" value="vince@intermap.co.za"/>
    <add key="SupportNumber" value="086 0102621"/>
    <add key="WebAddress" value="http://localhost/HomePage/index.aspx"/>
    <add key="LogOutAddress" value="http://localhost/timetrax/weblogin.aspx"/>
    <!-- <add key="WebAddress" value="http://localhost/TimeTrax" /> -->
    <add key="DomainName" value="Redlands"/>
    <add key="ApplicationName" value="TimeTrax"/>
    <add key="Version" value="2.1"/>
    <add key="Style" value="app_style.css"/>
    <!-- Determines how time is to be entered into timesheets (these need to be stored on DB)
     TimeBase 100 : 15 mins is 0.25, 
     TimeBase  60 : 15 mins = 0.15 -->
    <add key="TimeBase" value="100"/>
    <!-- 1:Monday, 7:Sunday -->
    <add key="WeekStartDay" value="7"/>
  </appSettings>
</configuration>